NEXT_PUBLIC_SUPABASE_URL=https://euxrzcesjjphimajqtgy.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV1eHJ6Y2VzampwaGltYWpxdGd5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk5NDI1MzIsImV4cCI6MjEwNTUxODUzMn0.mNTnWFC4TZohK0s8MqGszGmfNed-w6EutAJpiipYsGY
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=pos-venta